<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <title>About This Project</title>
    <link rel="stylesheet" type="text/css" href="{%  static "StyleSheet.css" %}">
    <link href='https://fonts.googleapis.com/css?family=Nova Flat' rel='alternate stylesheet'>
</head>

<body>
    <ul>
        <li><a href="{% url 'sudoku:index' %}">Home</a><br></li>
        <li><a href="{% url 'sudoku:how_to_play' %}">How to Play</a><br></li>
        <li><a href="{% url 'sudoku:new_game' %}">Start a New Game</a><br></li>
        <li><a href="{% url 'sudoku:leaderboard' %}">Leaderboards</a><br></li>
        <li><a href="{% url 'sudoku:about' %}">About this Application</a><br></li>
    </ul>
    <h1>This is an Application</h1>
    <h2>Sudoku Application</h2>
    {% load static %}
    <img src="{% static "test.jpg" %}" alt="My image">
</body>

</html>