<!--
   Written by Ben Brandhorst for Sprint 1 and updated for Sprint 3, last updated July 9, 2020
   -->
<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <title>How to Play</title>
    <link rel="stylesheet" type="text/css" href="{% static 'Materialize.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>
</head>

<body>
    <nav class="red darken-4" role="navigation">
        <div class="nav-wrapper">
            <a class="brand-logo right">Sudoku</a>
            <ul id="nav-mobile" class="align-left">
                <li><a href="{% url 'sudoku:index' %}">Home</a></li>
                <li><a href="{% url 'sudoku:how_to_play' %}">How to Play</a></li>
                <li><a href="{% url 'sudoku:new_game' %}">Play Game</a></li>
                <li><a href="{% url 'sudoku:leaderboard' %}">Leaderboard</a></li>
            </ul>
        </div>
    </nav>
    <main>
        <div class="container">
            <div class="row">
                    <div class="card-panel blue-grey lighten-2" style="width: 100%; height: auto;max-width: 750px;">
                        <h1 class="center-align">Short History of Sudoku</h1>
                        <P>The immediate predecessor to Sudoku was created in Switzerland in 1783 by a mathematician named Leonhard Euler. This version of the game was called Latin Squares and was based off of an ancient Chinese game called Magic Squares. Two hundred years later, in Manhattan, New York, Dell Puzzle Magazines published a Latin Squares variant that they called Number Place. Number Place was essentially Latin Squares with an additional twist. This variant further divided the board into the 3 x 3 regions.
                        </P>
                        <P>In the 1980s, because of differences in how English and Japanese languages are written, Japanese newspapers were in search of a crossword puzzle replacement. Numbers based puzzles were a perfect fit and after making minor tweaks to the Number Place format, Japanese publisher Nikoli renamed the puzzle Sudoku (Su (number) – doku (singular or unique)) and started publishing them in Japan in 1984.
                        </P>
                        <P>Sudoku made its way back west largely in part because of a judge from Matamata, New Zealand who saw the puzzles while shopping in Tokyo in 1997. Wayne Gould was so enamoured with the puzzles, that over the next six years, he developed a computer program to generate his own. His wife Gaye Gould published one of the puzzles his program generated in a New Hampshire newspaper called the Conway Daily Sun. From there the puzzles quickly found their way into newspapers across the country and made their way back east to Europe. In the time that has passed since then, Sudoku has turned into a global phenomenon.
                        </P>
                    </div>
            </div>
        </div>
        <div class="container ">
            <div class="row">
                    <div class="card-panel blue-grey lighten-2" style="width: 100%; height: auto;max-width: 750px;">
                        <h1 class="center-align">How to play Sudoku</h1>
                        <P>Sudoku is a game that is both easy to learn and difficult to master. Puzzles can vary from extremely simple to seemingly impossible. Each puzzle has a unique solution and you will never have to guess at answers. Rather than being a math game, Sudoku uses numbers to create logic based puzzles which use the same set of consistent rules. This creates elegant and intuitive gameplay mechanics.
                        </P>
                        <figure class="center-align">
                            <img src="{% static 'Howtoplay.jpg' %}" alt="How to Play" style="width: 100%; height: auto;max-width: 520px;max-height: 500px">
                            <figcaption>Example of a typical Sudoku board</figcaption>
                        </figure>
                        <P> The Sudoku board contains 9 rows and 9 columns of cells. The cells are further divided into 3 x 3 areas of cells called regions. Every<b><span style="color:red"> ROW</span></b>,<b><span
                     style="color:blue"> COLUMN</span></b>, and <b><span style="color:yellow">REGION </span></b>contain exactly 9 cells. Your goal is to fill every cell with a numeral from 1 to 9. The challenge comes from limiting every row, column, and region to containing a single instance of each numeral.
                        </P>
                        <figure class="center-align">
                            <img src="{% static 'Completed.jpg' %}" alt="Completed Board Example" style="width: 100%; height: auto;max-width: 520px;max-height: 500px">
                            <figcaption>Example of a completed Sudoku board</figcaption>
                        </figure>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                    <div class="card-panel blue-grey lighten-2" style="width: 100%; height: auto;max-width: 750px;">
                        <h1 class="center-align">Puzzle Solving Techniques</h1>
                        <h3 class="center-align">Naked Single</h3>
                        <P>The Naked Single technique is more than just a terrible dating strategy. It is the simplest Sudoku solving technique and its use takes very little experience with puzzles. Utilizing this technique is as simple as eliminating other possibilities for the contents of a cell. In the example below, you can see that we have determined the contents of the cell can be no other numeral than 4. We know this because looking at the <b><span style="color:red"> ROW</span></b>,<b><span style="color:blue"> COLUMN</span></b>, and
                            <b><span style="color:yellow">REGION </span></b> we can account for numerals 1, 2, 3, 5, 6, 7, 8, and 9 leaving only 4 remaining.
                        </P>
                        <figure class="center-align">
                            <img src="{% static 'NakedSingle.jpg' %}" alt="Completed Board Example" style="width: 100%; height: auto;max-width: 520px;max-height: 500px">
                            <figcaption>Naked Single Technique Example</figcaption>
                        </figure>
                        <h3 class="center-align">Hidden Single</h3>
                        <P>The Hidden Single technique isn't much more complicated than the Naked Single technique. However, because there are so many possible cells, sometimes they are difficult to spot. You can tell that you have a Hidden Single when only one cell contains a pencil mark for a numeral in any <b><span style="color:red"> ROW</span>
                  </b>,<b><span style="color:blue"> COLUMN</span></b>, or <b><span style="color:yellow">REGION</span></b>. In the example below, you can see that within the top right <b><span style="color:yellow">REGION </span></b> the top center cell is the only instance of the numeral 7. Because there is no other possible location for 7 to go, the top center cell MUST be its location.
                        </P>
                        <figure class="center-align">
                            <img src="{% static 'HiddenSingle.jpg' %}" alt="Completed Board Example" style="width: 100%; height: auto;max-width: 520px;max-height: 500px">
                            <figcaption>Hidden Single Technique Example</figcaption>
                        </figure>
                    </div>
                </div>
        </div>
        <div class="container ">
            <div class="row">
                    <div class="card-panel blue-grey lighten-2" style="width: 100%; height: auto;max-width: 750px;">
                        <h1 class="center-align">Application Interface</h1>
                        <P>The play area for this application contains 3 parts: A standard Sudoku board in the center of the screen, A row of options to the left of the board, and a red scratch pad to the right of the board. If a user selects a cell on the Sudoku board, the scratch pad will display. There users can deselect numerals that they have eliminated as candidates for the contents of that cell. Deselecting numerals in the scratch pad will change the color from black to grey and remove the corresponding pencil mark from that cell.
                        </P>
                        <P>A checkmark in the "Pencil Marks" checkbox will display the pencilled in possible numerals for each cell. Deselecting this checkbox will hide all pencil marks for a cleaner display.
                        </P>
                        <P>Pressing the "Get Hint" button will display a hint found using techniques tied to the difficulty of the puzzle being played. As players play higher difficulty puzzles, the hints provided will be presented by using more advanced Sudoku techniques.
                        </P>
                        <P>Pressing the "Erase Obvious" button will immediately remove pencil marks by using the "Naked Single" technique that is described above. This will allow players to reduce the time it takes to get to more challenging puzzle solving.
                        </P>
                        <P>Pressing the "Verify Solutions" button will check the user supplied input against the stored puzzle solution to confirm that the puzzle has been solved correctly.
                        </P>
                        <figure class="center-align">
                            <img src="{% static 'Gameplay.jpg' %}" alt="Completed Board Example" style="width: 100%; height: auto;max-width: 520px;max-height: 500px">
                            <figcaption>Sudoku game in progress</figcaption>
                        </figure>
                    </div>
            </div>
        </div>
        </div>
    </main>
    <footer class="page-footer grey darken-3">
        <div class="container">
            <h5 class="white-text left-align">Developers</h5>
        </div>
        <div class="container">
            <div class="row">
                <div class="col s3">
                    <div class="LI-profile-badge" data-version="v1" data-size="medium" data-locale="en_US" data-type="horizontal" data-theme="dark" data-vanity="ben-brandhorst-8407911ab"><a class="LI-simple-link" href='https://www.linkedin.com/in/ben-brandhorst-8407911ab?trk=profile-badge'>Ben Brandhorst</a>
                    </div>
                </div>
                <div class="col s1">
                </div>
                <div class="col s3">
                    <div class="LI-profile-badge" data-version="v1" data-size="medium" data-locale="en_US" data-type="horizontal" data-theme="dark" data-vanity="breencp"><a class="LI-simple-link" href='https://www.linkedin.com/in/breencp?trk=profile-badge'>Christopher
                     Breen</a>
                    </div>
                </div>
                <div class="col s1">
                </div>
                <div class="col s3">
                    <div class="LI-profile-badge" data-version="v1" data-size="medium" data-locale="en_US" data-type="horizontal" data-theme="dark" data-vanity="christopher-smith-4791961b0"><a class="LI-simple-link" href='https://www.linkedin.com/in/christopher-smith-4791961b0?trk=profile-badge'>Christopher
                     Smith</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2020 Copyright Ben Brandhorst, Christopher Breen, and Christopher Smith
            </div>
        </div>
    </footer>
</body>
</html>