<!--
   Updated by Ben Brandhorst for Sprint 2, last updated July 4, 2020
   Additional difficulty levels added and table re-organization by Christopher Smith for Sprint 2
   -->
<!DOCTYPE html>
<html lang="en">
   {% load static %}
   <head>
      <meta charset="UTF-8">
      <title>Leaderboard</title>
      <link rel="stylesheet" type="text/css" href="{% static 'Materialize.css' %}">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
      <script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>
   </head>
   <body>
      <nav class="red darken-4" role="navigation">
         <div class="nav-wrapper">
            <a class="brand-logo right">Sudoku</a>
            <ul id="nav-mobile" class="align-left">
               <li><a href="{% url 'sudoku:index' %}">Home</a></li>
               <li><a href="{% url 'sudoku:how_to_play' %}">How to Play</a></li>
               <li><a href="{% url 'sudoku:new_game' %}">Play Game</a></li>
               <li><a href="{% url 'sudoku:leaderboard' %}">Leaderboard</a></li>
            </ul>
         </div>
      </nav>
      <main>
         <div class="container">
            <div class="row">
               <h1 class="center-align">Easy Puzzles</h1>
               <table class="table_fields">
                  <tr class="table_fields_top">
                     <td> Username</td>
                     <td>Puzzle ID</td>
                     <td>Time to Complete</td>
                  </tr>
                  <form action="{% url 'sudoku:puzzleload' %}" method="post">
                     {% csrf_token %}
                     <tr>
                        <td>{{ diff1_record1.user }} </td>
                        <td><input type='submit' name="puzzleID" value={{ diff1_record1.puzzle_id }}></td>
                        <td> {{ diff1_record1.completion_time }}</td>
                     </tr>
                     <tr>
                        <td>{{ diff1_record2.user }} </td>
                        <td><input type='submit' name="puzzleID" value={{ diff1_record2.puzzle_id }}></td>
                        <td> {{ diff1_record2.completion_time }}</td>
                     </tr>
                     <tr>
                        <td>{{ diff1_record3.user }} </td>
                        <td><input type='submit' name="puzzleID" value={{ diff1_record3.puzzle_id }}></td>
                        <td> {{ diff1_record3.completion_time }}</td>
                     </tr>
                     <tr>
                        <td>{{ diff1_record4.user }} </td>
                        <td><input type='submit' name="puzzleID" value={{ diff1_record4.puzzle_id }}></td>
                        <td> {{ diff1_record4.completion_time }}</td>
                     </tr>
                     <tr>
                        <td>{{ diff1_record5.user }} </td>
                        <td><input type='submit' name="puzzleID" value={{ diff1_record5.puzzle_id }}></td>
                        <td> {{ diff1_record5.completion_time }}</td>
                  </form>
                  </tr>
               </table>
            </div>
            <div class="container">
               <div class="row">
                  <h1 class="center-align">Hard Puzzles</h1>
                  <table class="table_fields">
                     <tr class="table_fields_top">
                        <td> Username</td>
                        <td>Puzzle ID</td>
                        <td>Time to Complete</td>
                     </tr>
                     <form action="{% url 'sudoku:puzzleload' %}" method="post">
                        <tr>
                           {% csrf_token %}
                           <td>{{ diff3_record1.user }} </td>
                           <td><input type='submit' name="puzzleID" value={{ diff3_record1.puzzle_id }}></td>
                           <td> {{ diff3_record1.completion_time }}</td>
                        </tr>
                        <tr>
                           <td>{{ diff3_record2.user }} </td>
                           <td><input type='submit' name="puzzleID" value={{ diff3_record2.puzzle_id }}></td>
                           <td> {{ diff3_record2.completion_time }}</td>
                        </tr>
                        <tr>
                           <td>{{ diff3_record3.user }} </td>
                           <td><input type='submit' name="puzzleID" value={{ diff3_record3.puzzle_id }}></td>
                           <td> {{ diff3_record3.completion_time }}</td>
                        </tr>
                        <tr>
                           <td>{{ diff3_record4.user }} </td>
                           <td><input type='submit' name="puzzleID" value={{ diff3_record4.puzzle_id }}></td>
                           <td> {{ diff3_record4.completion_time }}</td>
                        </tr>
                        <tr>
                           <td>{{ diff3_record5.user }} </td>
                           <td><input type='submit' name="puzzleID" value={{ diff3_record5.puzzle_id }}></td>
                           <td> {{ diff3_record5.completion_time }}</td>
                     </form>
                     </tr>
                  </table>
               </div>
            </div>
         </div>
         <div class="container">
            <div class="row">
               <h1 class="center-align">Normal Puzzles</h1>
               <table class="table_fields">
                  <tr class="table_fields_top">
                     <td> Username</td>
                     <td>Puzzle ID</td>
                     <td>Time to Complete</td>
                  </tr>
                  <form action="{% url 'sudoku:puzzleload' %}" method="post">
                     <tr>
                        {% csrf_token %}
                        <td>{{ diff2_record1.user }} </td>
                        <td><input type='submit' name="puzzleID" value={{ diff2_record1.puzzle_id }}></td>
                        <td> {{ diff2_record1.completion_time }}</td>
                     </tr>
                     <tr>
                        <td>{{ diff2_record2.user }} </td>
                        <td><input type='submit' name="puzzleID" value={{ diff2_record2.puzzle_id }}></td>
                        <td> {{ diff2_record2.completion_time }}</td>
                     </tr>
                     <tr>
                        <td>{{ diff2_record3.user }} </td>
                        <td><input type='submit' name="puzzleID" value={{ diff2_record3.puzzle_id }}></td>
                        <td> {{ diff2_record3.completion_time }}</td>
                     </tr>
                     <tr>
                        <td>{{ diff2_record4.user }} </td>
                        <td><input type='submit' name="puzzleID" value={{ diff2_record4.puzzle_id }}></td>
                        <td> {{ diff2_record4.completion_time }}</td>
                     </tr>
                     <tr>
                        <td>{{ diff2_record5.user }} </td>
                        <td><input type='submit' name="puzzleID" value={{ diff2_record5.puzzle_id }}></td>
                        <td> {{ diff2_record5.completion_time }}</td>
                  </form>
                  </tr>
               </table>
            </div>
            <div class="container">
               <div class="row">
                  <h1 class="center-align">Expert Puzzles</h1>
                  <table class="table_fields">
                     <tr class="table_fields_top">
                        <td> Username</td>
                        <td>Puzzle ID</td>
                        <td>Time to Complete</td>
                     </tr>
                     <form action="{% url 'sudoku:puzzleload' %}" method="post">
                        <tr>
                           {% csrf_token %}
                           <td>{{ "n/a" }} </td>
                           <td>{{ "n/a" }} </td>
                           <td> {{ "n/a" }}</td>
                        </tr>
                        <tr>
                           <td>{{ "n/a" }} </td>
                           <td>{{ "n/a" }} </td>
                           <td> {{ "n/a" }}</td>
                        </tr>
                        <tr>
                           <td>{{ "n/a" }} </td>
                           <td>{{ "n/a" }} </td>
                           <td> {{ "n/a" }}</td>
                        </tr>
                        <tr>
                           <td>{{ "n/a" }} </td>
                           <td>{{ "n/a" }} </td>
                           <td> {{ "n/a" }}</td>
                        </tr>
                        <tr>
                           <td>{{ "n/a" }} </td>
                           <td>{{ "n/a" }} </td>
                           <td> {{ "n/a" }}</td>
                     </form>
                     </tr>
                  </table>
               </div>
            </div>
         </div>
         <script>
            function loadGame(puzzleID) {
                var inputText = document.getElementById("puzzleID");
                inputText.setAttribute('value', puzzleID);
            }
         </script>
      </main>
      <footer class="page-footer grey darken-3">
         <div class="container">
            <h5 class="white-text">Developers</h5>
         </div>
         <div class="container">
            <div class="row">
               <div class="col s3">
                  <div class="LI-profile-badge" data-version="v1" data-size="medium" data-locale="en_US" data-type="horizontal" data-theme="dark" data-vanity="ben-brandhorst-8407911ab"><a class="LI-simple-link" href='https://www.linkedin.com/in/ben-brandhorst-8407911ab?trk=profile-badge'>Ben Brandhorst</a>
                  </div>
               </div>
               <div class="col s1">
               </div>
               <div class="col s3">
                  <div class="LI-profile-badge" data-version="v1" data-size="medium" data-locale="en_US" data-type="horizontal" data-theme="dark" data-vanity="breencp"><a class="LI-simple-link" href='https://www.linkedin.com/in/breencp?trk=profile-badge'>Christopher
                     Breen</a>
                  </div>
               </div>
               <div class="col s1">
               </div>
               <div class="col s3">
                  <div class="LI-profile-badge" data-version="v1" data-size="medium" data-locale="en_US" data-type="horizontal" data-theme="dark" data-vanity="christopher-smith-4791961b0"><a class="LI-simple-link" href='https://www.linkedin.com/in/christopher-smith-4791961b0?trk=profile-badge'>Christopher
                     Smith</a>
                  </div>
               </div>
            </div>
         </div>
         <div class="footer-copyright">
            <div class="container">
               © 2020 Copyright Ben Brandhorst, Christopher Breen, and Christopher Smith
            </div>
         </div>
      </footer>
   </body>
</html>