{% extends 'sudoku/base.html' %}
{% load static %}
{% block title %}Start New Sudoku Game{% endblock title %}
{% block body %}
<body onload="fillForm()">
<main>
<div class="container" id="load_puzzle_form">
    <div class="row">
        <h2 class="center-align">Load Puzzle</h2>
        {% if error_message %}
        <p><strong>{{ error_message }}</strong></p>
        {% endif %}
        <form action="{% url 'sudoku:load_puzzle' %}" method="post">
            {% csrf_token %}
            <div class="input-field">
                <label for="puzzleID" class="black-text">Puzzle ID:</label><br>
                <input type="text" id="puzzleID" name="puzzleID"
                       readonly><br>
            </div>
            <br><input type="submit" value="Load Puzzle">
        </form>
    </div>
</div>

<script>
    function fillForm() {
        var puz = "{{ request.session.puzzleID}}";
        var inputText = document.getElementById("puzzleID");
        inputText.setAttribute('value', puz);
    }
</script>
</main>
</body>
{% endblock body %}