<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <title>Successful Upload</title>
    <link rel="stylesheet" type="text/css" href="{%  static 'StyleSheet.css' %}">
</head>

<body>
<main>
    <nav class="red darken-4" role="navigation">
        <div class="nav-wrapper">
            <a href="#!" class="brand-logo right">Sudoku</a>
            <a href="#" data-target="mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul id="nav-mobile" class="left hide-on-med-and-down">
                <li><a href="{% url 'sudoku:index' %}">Home</a></li>
                <li><a href="{% url 'sudoku:how_to_play' %}">How to Play</a></li>
                <li><a href="{% url 'sudoku:new_game' %}">Play Game</a></li>
                <li><a href="{% url 'sudoku:leaderboard' %}">Leaderboard</a></li>
            </ul>
        </div>
    </nav>
    <h1>Upload Complete<br>Please manually check the DB for detailed results.</h1>
    {% if error_message %}
    <p><strong>{{ error_message }}</strong></p>{% endif %}
</main>
</body>

</html>