<!--
Written by Christopher Breen for Sprint 1, last updated June 23, 2020
-->
<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <title>Successful Upload</title>
    <link rel="stylesheet" type="text/css" href="{%  static 'Materialize.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
       <link rel="stylesheet" type="text/css" href="{%  static 'style.css' %}">
</head>

<body>
<nav class="red darken-4" role="navigation">
            <div class="nav-wrapper">
               <a href="#!" class="brand-logo right">Sudoku</a>
               <ul id="nav-mobile" class="align-left">
                  <li> <a href="{% url 'sudoku:index' %}">Home</a></li>
                  <li><a href="{% url 'sudoku:how_to_play' %}">How to Play</a></li>
                  <li><a href="{% url 'sudoku:new_game' %}">Play Game</a></li>
                  <li><a href="{% url 'sudoku:leaderboard' %}">Leaderboard</a></li>
               </ul>
            </div>
         </nav>
<main>
    <h1>Upload Complete<br>Please manually check the DB for detailed results.</h1>
    {% if error_message %}
    <p><strong>{{ error_message }}</strong></p>{% endif %}
</main>
</body>

</html>